@import 'globals';
@include react-md-everything;

html {
    position: relative;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-image: url('http://conductor.com.br/Content/images/a-conductor/banner-conductor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sexo {
    margin: 0;
    padding: 0;

    legend {
        margin: 0;
        padding-left: 7px;
        padding-top: 10px;
    }
}