@import 'globals';
@include react-md-everything;

html {
    position: relative;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #f1f1f1;
}

.App {
    background: #f1f1f1;
}

.sexo {
    margin: 0;
    padding: 0;

    legend {
        margin: 0;
        padding-left: 7px;
        padding-top: 10px;
    }
}

.md-dialog--centered {
    .md-dialog {
      max-height: auto;
      max-width: auto;
  
      @media (max-device-width: 320px) {
        // iphone 5 is 320x500 with toolbars included.
  
        max-height: 500px - 16px;
        max-width: 320px - 16px;
      }
  
      // and any other devices less than 340x530
    }
  
    .md-overlay {
      bottom: -50vh;
      left: -50vw;
      right: -50vw;
      top: -50vh;
    }
  }